/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
.vagrant/
.composer/
.vagrant
.idea/*
/web/css/bootstrap*
/web/js/bootstrap*
web/js/jquery_*
.DS_Store
.bash_history
.composer/
.ssh/
/app/data
*.php~
/web/css/*
/web/js/*
cache.properties
behat.local.yml
