parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     guestbook
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       test
    mailer_password:   test
    mailer_sender_address: test
    mailer_sender_name: test
    mailer_delivery_address: test


    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
